<footer>
  <div class="footer-container">
    <div class="footer-col footer-col_1">
      <h3 class="footer-col_1__title">VISOR DE HORARIOS</h3>
      <p class="footer-col_1__description">
        El objetivo de el proyecto es tener una mejor visualizacion de los
        horarios de distintas escuelas junto con un generador de horarios para
        poder facilitar la creacion de horarios personalizados
      </p>
    </div>
    <div class="footer-col footer-col_2">
      <h3 class="footer-col_2__title">CODE INNOVATION SERIES</h3>
      <p class="footer-col_2__description">
        GitHub Code Innovation Series es un programa de talleres para
        estudiantes centrado en código abierto
      </p>
    </div>
    <div class="footer-col footer-col_3">
      <h3 class="footer-col_3__title">Mis redes (@JosAnGoCa)</h3>
      <ul class="footer-col_3__list">
        <li class="footer-col_3__list_item">
          <button mat-mini-fab>
            <a href="https://github.com/JosAnGoCa" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </button>
        </li>
        <li class="footer-col_3__list_item">
          <button mat-mini-fab>
            <a href="https://www.instagram.com/JosAnGoCa/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </button>
        </li>
        <li class="footer-col_3__list_item">
          <button mat-mini-fab>
            <a href="https://twitter.com/JosAnGoCa" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</footer>
